* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: rgb(255, 255, 255);
    background-size: cover;
}

div {
    text-align: center;
    color: white;
}

h1 {
    text-align: center;
    color: white;
    font-size: 30px;
}

button {
    text-align: center;
    
}

a {
    color: white;
}

nav a {
    text-decoration: none;
    color: white;
    padding: 1rem;
}

h2 {
    text-align: center;
}

/* Playful button animation */
button:hover {
    animation: shake 0.7s;
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }

    20% {
        transform: translateX(-2px) rotate(-2deg);
    }

    40% {
        transform: translateX(2px) rotate(2deg);
    }

    60% {
        transform: translateX(-2px) rotate(-2deg);
    }

    80% {
        transform: translateX(2px) rotate(2deg);
    }

    100% {
        transform: translateX(0) rotate(0);
    }
}
